<a href="https://colab.research.google.com/github/Ashail33/Masters-work/blob/master/Visualise_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# import necessary libraries
from google.colab import drive
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

from google.colab import drive
# Mount Google Drive
drive.mount('/content/gdrive', force_remount=False)

# Set the path to the 'Masters_data' folder in your Google Drive
base_path = '/content/gdrive/MyDrive/'
folder_name = 'Masters_data'
folder_path = os.path.join(base_path, folder_name)

# define the file path on your Google Drive
file_path = os.path.join(folder_path, 'final_results_eval.json')

# read in the file to a pandas dataframe
df = pd.read_csv(file_path)

# define a list of metrics you want to plot
metrics = ['memory_mean', 'runtime_mean', 'cp_mean', 'sp_mean', 'db_mean', 'silhouette_mean', 
           'calinski_harabasz_mean', 'ari_mean', 'nmi_mean', 'dvi_mean']

# set a style for seaborn
sns.set(style="whitegrid")

# loop over each metric
for metric in metrics:
    # create a pivot table
    table = df.pivot_table(values=metric, index='dataset_id', columns='model')
    
    # create a figure and axis
    fig, ax = plt.subplots(figsize=(10, 6))

    # plot data
    table.plot(kind='line', ax=ax)

    # customize plot
    ax.set_title(f'Comparison of {metric} for each model')
    ax.set_ylabel(metric)
    ax.set_xlabel('dataset_id')

    # save the plot as an image file
    plt.savefig(folder_path+f'/Plots/{metric}_comparison.png')
    plt.close()

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

KeyError: ignored

In [3]:
df

Empty DataFrame
Columns: [[{"memory_usage": [480520],  "memory_peak": [1575111],  "runtime": [1.3243219519999911],  "disk_read": [2387968],  "disk_write": [0],  "cp_mean": [41.83249909516094],  "cp_std": [0.0],  "cp_max": [41.83249909516094],  "cp_min": [41.83249909516094],  "sp_mean": [2.32297976263529],  "sp_std": [0.0],  "sp_max": [2.32297976263529],  "sp_min": [2.32297976263529],  "db_mean": [0.03029237102839417],  "db_std": [0.0],  "db_max": [0.03029237102839417],  "db_min": [0.03029237102839417],  "silhouette_mean": [0.9788648795078773],  "silhouette_std": [0.0],  "silhouette_max": [0.9788648795078773],  "silhouette_min": [0.9788648795078773],  "calinski_harabasz_mean": [15274679.69158387],  "calinski_harabasz_std": [0.0],  "calinski_harabasz_max": [15274679.69158387],  "calinski_harabasz_min": [15274679.69158387],  "ari_mean": [1.0],  "ari_std": [0.0],  "ari_max": [1.0],  "ari_min": [1.0],  "nmi_mean": [1.0],  "nmi_std": [0.0],  "nmi_max": [1.0],  "nmi_min": [1.0],  "dvi_mean": [8.858944958896837],  "dvi_std": [0.0],  "dvi_max": [8.858944958896837],  "dvi_min": [8.858944958896837],  "memory_min": [480520],  "memory_max": [480520],  "memory_mean": [480520.0],  "memory_std": [0.0],  "runtime_mean": 1.3243219519999911,  "runtime_std": 0.0,  "runtime_max": 1.3243219519999911,  "runtime_min": 1.3243219519999911,  "dataset_id": "dataset_0",  "model_id": 1,  "model": "KMeans"},  {"memory_usage": [63017],  "memory_peak": [391215],  "runtime": [0.10531430200001068],  "disk_read": [0],  "disk_write": [0].1,  "cp_mean": [41.83249909516094].1,  "cp_std": [0.0].1,  "cp_max": [41.83249909516094].1,  "cp_min": [41.83249909516094].1,  "sp_mean": [2.32297976263529].1,  "sp_std": [0.0].1,  "sp_max": [2.32297976263529].1,  "sp_min": [2.32297976263529].1,  "db_mean": [0.03029237102839417].1,  "db_std": [0.0].1,  "db_max": [0.03029237102839417].1,  "db_min": [0.03029237102839417].1,  "silhouette_mean": [0.9788648795078773].1,  "silhouette_std": [0.0].1,  "silhouette_max": [0.9788648795078773].1,  "silhouette_min": [0.9788648795078773].1,  "calinski_harabasz_mean": [15274679.69158387].1,  "calinski_harabasz_std": [0.0].1,  "calinski_harabasz_max": [15274679.69158387].1,  "calinski_harabasz_min": [15274679.69158387].1,  "ari_mean": [1.0].1,  "ari_std": [0.0].1,  "ari_max": [1.0].1,  "ari_min": [1.0].1,  "nmi_mean": [1.0].1,  "nmi_std": [0.0].1,  "nmi_max": [1.0].1,  "nmi_min": [1.0].1,  "dvi_mean": [8.858944958896837].1,  "dvi_std": [0.0].1,  "dvi_max": [8.858944958896837].1,  "dvi_min": [8.858944958896837].1,  "memory_min": [63017],  "memory_max": [63017],  "memory_mean": [63017.0],  "memory_std": [0.0].1,  "runtime_mean": 0.10531430200001068,  "runtime_std": 0.0.1,  "runtime_max": 0.10531430200001068,  "runtime_min": 0.10531430200001068,  "dataset_id": "dataset_0".1,  "model_id": 3,  "model": "Minibatch_clustering"},  {"memory_usage": [476652],  "memory_peak": [1372920],  "runtime": [26.88203231600005],  "disk_read": [6615040], ...]
Index: []

[0 rows x 46752 columns]

In [24]:
# import necessary libraries
from google.colab import drive
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from google.colab import drive
# Mount Google Drive
drive.mount('/content/gdrive', force_remount=False)

# Set the path to the 'Masters_data' folder in your Google Drive
base_path = '/content/gdrive/MyDrive/'
folder_name = 'Masters_data'
folder_path = os.path.join(base_path, folder_name)

# define the file path on your Google Drive
file_path = os.path.join(folder_path, 'final_results_eval.json')

# read in the file to a pandas dataframe
df_metrics = pd.read_json(file_path)

# explode the column(s) that contains lists
# replace 'column_name' with the name of your column
# assuming df is your dataframe


# define the file path on your Google Drive for metadata
metadata_file_path = os.path.join(folder_path, 'metadata.json')

# read in the metadata file to a pandas dataframe
df_metadata = pd.read_json(metadata_file_path)

# merge the two dataframes on the dataset_id column
df = pd.merge(df_metrics, df_metadata, left_on='dataset_id', right_on='id', how='inner')

for col in df.columns:
    df = df.explode(col)

# define a list of metrics you want to plot
metrics = ['memory_mean', 'runtime_mean', 'cp_mean', 'sp_mean', 'db_mean', 'silhouette_mean', 
           'calinski_harabasz_mean', 'ari_mean', 'nmi_mean', 'dvi_mean']
# set a style for seaborn
sns.set(style="whitegrid")
folder_path = "/content/gdrive/MyDrive/Masters_data/Plots"
os.makedirs(folder_path, exist_ok=True)
# loop over each metric
for metric in metrics:
    for col in df_metadata.columns.drop(['id', 'file_path']):
        # Create a pivot table
        table = df.pivot_table(values=metric, index=col, columns='model')
        
        # Create a figure and axis
        fig, ax = plt.subplots(figsize=(10, 6))

        # Plot data
        table.plot(kind='line', ax=ax)

        # Customize plot
        ax.set_title(f'Comparison of {metric} for each model by {col}')
        ax.set_ylabel(metric)
        ax.set_xlabel(col)

        # Save the plot as an image file
        plt.savefig(f'{folder_path}/{metric}_comparison_{col}.png')
        plt.close()

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [23]:
df

,memory_usage,memory_peak,runtime,disk_read,disk_write,cp_mean,cp_std,cp_max,cp_min,sp_mean,...,id,outliers,add_noise,n_noise,n_clusters,n_samples,n_feats,compactness_factor,distribution,file_path
0,86903185,246581764,2.426254,262144,933888,333547.654927,0.0,333547.654927,333547.654927,18.425075,...,188,500,0,NaN,3,100000,100,1.00,gaussian,/content/gdrive/MyDrive/Masters_data/dataset_1...
1,471999,82108430,2.344059,0,831488,344145.468356,0.0,344145.468356,344145.468356,19.809309,...,188,500,0,NaN,3,100000,100,1.00,gaussian,/content/gdrive/MyDrive/Masters_data/dataset_1...
2,938484,327676287,175.544398,0,50352128,333547.654927,0.0,333547.654927,333547.654927,18.425075,...,188,500,0,NaN,3,100000,100,1.00,gaussian,/content/gdrive/MyDrive/Masters_data/dataset_1...
3,76755,1176948,1.446667,0,819200,202.541622,0.0,202.541622,202.541622,9.523115,...,189,500,0,NaN,5,10000,2,0.01,gaussian,/content/gdrive/MyDrive/Masters_data/dataset_1...
4,51496,382375,0.051699,0,0,202.311498,0.0,202.311498,202.311498,9.523147,...,189,500,0,NaN,5,10000,2,0.01,gaussian,/content/gdrive/MyDrive/Masters_data/dataset_1...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403,426823,82077453,1.984618,0,0,110379.655296,0.0,110379.655296,110379.655296,294.282495,...,322,500,10,100.0,10,100000,100,0.50,gaussian,/content/gdrive/MyDrive/Masters_data/dataset_3...
404,806321,327660448,171.154001,0,56610816,102827.997303,0.0,102827.997303,102827.997303,300.266713,...,322,500,10,100.0,10,100000,100,0.50,gaussian,/content/gdrive/MyDrive/Masters_data/dataset_3...
405,446881,160076074,4.248265,0,1589248,203785.740125,0.0,203785.740125,203785.740125,368.334932,...,323,500,10,100.0,10,100000,100,1.00,gaussian,/content/gdrive/MyDrive/Masters_data/dataset_3...
406,425876,82076506,4.200628,0,0,206804.118178,0.0,206804.118178,206804.118178,306.628083,...,323,500,10,100.0,10,100000,100,1.00,gaussian,/content/gdrive/MyDrive/Masters_data/dataset_3...
407,808378,327661297,174.616972,0,33746944,203785.740125,0.0,203785.740125,203785.740125,368.334932,...,323,500,10,100.0,10,100000,100,1.00,gaussian,/content/gdrive/MyDrive/Masters_data/dataset_3...

In [21]:
metadata_file_path

'/content/gdrive/MyDrive/Masters_data/metadata.json"'

In [10]:
df

,memory_usage,memory_peak,runtime,disk_read,disk_write,cp_mean,cp_std,cp_max,cp_min,sp_mean,...,memory_max,memory_mean,memory_std,runtime_mean,runtime_std,runtime_max,runtime_min,dataset_id,model_id,model
0,480520,[1575111],[1.3243219519999911],[2387968],[0],[41.83249909516094],[0.0],[41.83249909516094],[41.83249909516094],[2.32297976263529],...,[480520],[480520.0],[0.0],1.324322,0,1.324322,1.324322,dataset_0,1,KMeans
1,63017,[391215],[0.10531430200001],[0],[0],[41.83249909516094],[0.0],[41.83249909516094],[41.83249909516094],[2.32297976263529],...,[63017],[63017.0],[0.0],0.105314,0,0.105314,0.105314,dataset_0,3,Minibatch_clustering
2,476652,[1372920],[26.88203231600005],[6615040],[26189824],[41.83249909516094],[0.0],[41.83249909516094],[41.83249909516094],[2.32297976263529],...,[476652],[476652.0],[0.0],26.882032,0,26.882032,26.882032,dataset_0,4,Parallel K-means
3,95019,[1180031],[1.832281418999969],[0],[1908736],[1801.459420832452],[0.0],[1801.459420832452],[1801.459420832452],[2.674609652057712],...,[95019],[95019.0],[0.0],1.832281,0,1.832281,1.832281,dataset_1,1,KMeans
4,52090,[384120],[0.022876904999975002],[0],[0],[1807.5628956388223],[0.0],[1807.5628956388223],[1807.5628956388223],[2.696778230530337],...,[52090],[52090.0],[0.0],0.022877,0,0.022877,0.022877,dataset_1,3,Minibatch_clustering
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
969,426823,[82077453],[1.984617879003053],[0],[0],[110379.655295872],[0.0],[110379.655295872],[110379.655295872],[294.2824947465203],...,[426823],[426823.0],[0.0],1.984618,0,1.984618,1.984618,322,3,Minibatch_clustering
970,806321,[327660448],[171.15400075799698],[0],[56610816],[102827.99730274007],[0.0],[102827.99730274007],[102827.99730274007],[300.2667125047731],...,[806321],[806321.0],[0.0],171.154001,0,171.154001,171.154001,322,4,Parallel K-means
971,446881,[160076074],[4.248265430003812],[0],[1589248],[203785.74012451948],[0.0],[203785.74012451948],[203785.74012451948],[368.334932352314],...,[446881],[446881.0],[0.0],4.248265,0,4.248265,4.248265,323,1,KMeans
972,425876,[82076506],[4.2006277030013734],[0],[0],[206804.11817848473],[0.0],[206804.11817848473],[206804.11817848473],[306.62808343377515],...,[425876],[425876.0],[0.0],4.200628,0,4.200628,4.200628,323,3,Minibatch_clustering
973,808378,[327661297],[174.61697171500418],[0],[33746944],[203785.74012451948],[0.0],[203785.74012451948],[203785.74012451948],[368.33493235231396],...,[808378],[808378.0],[0.0],174.616972,0,174.616972,174.616972,323,4,Parallel K-means